@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orb: #ffffff;
  --accent: #fed823;
  --accent-hover: #fed950;
  --primary: #15a1fc;
  --secondary: #ff7bed;
  --tertiary: #01feb6;
  --tertiary-dark: #00cb91;
  --formal-accent: #efecd6;
  --quaternary: #cf6aff;

  --primary-dark: #0d0030;
  --primary-background: #1a0259;
  --primary-light: #bff5fa;
  --primary-dimmed: #3a00d6;
  --primary-semi-dimmed: #4b61d5;
  --primary-burned: #01f6ff;

  --retro-1: #4300f5;
  --retro-2: #263db4;
  --retro-shadow: rgba(10, 132, 255, 0.7);

  --metallic-1: #26306e;
  --metallic-2: #cce5e4;
  --metallic-3: #25306a;
  --metallic-4: #a9cbd2;
  --metallic-5: #36426c;
  --metallic-6: #cad9e3;

  --secondary-semi-transparent: rgba(255, 123, 237, 0.5);
  --selection: #ff7bed35;
  --navbar: rgba(13, 0, 48, 0.3);
  --card: rgba(13, 0, 48, 0.8);
  --card-shadow: rgba(21, 161, 252, 0.15);
}

* {
  -webkit-tap-highlight-color: var(--transparent);
}

html {
  scroll-behavior: smooth;
  /* Grid */
  background: conic-gradient(
      from 90deg at 0.06rem 0.06rem,
      var(--primary-dark) 90deg,
      var(--primary-background) 0
    )
    0 0/3rem 3rem;
  background-color: var(--primary-dark);
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrains Mono', monospace;
  color: var(--formal-accent);
  min-height: 100vh;
}

svg {
  fill: none;
}
path,
circle {
  stroke-linecap: round;
  stroke-linejoin: round;
}

::selection {
  background: var(--selection);
}
::-moz-selection {
  background: var(--selection);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  background-clip: content-box;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-hover);
  border-radius: 20px;
  background-clip: content-box;
  border: 4px solid transparent;
}

/* Large text with stroke */
.stroke-text {
  -webkit-text-stroke: 1px var(--secondary-semi-transparent);
  text-shadow: 0 -1rem 0 var(--primary);
}
.stroke-text-small {
  -webkit-text-stroke: 1px var(--secondary-semi-transparent);
  text-shadow: 0 -0.5rem 0 var(--primary);
}

/* Animated footer */
.grid-wrapper {
  height: 50vh;
  width: 100%;
  position: relative;
  perspective: 180px;
  perspective-origin: 50% 40%;
  overflow: hidden;
  z-index: 20;
}
.grid {
  position: absolute;
  width: 300%;
  left: -100%;
  height: 130%;
  bottom: -30%;
  will-change: auto;
  background-image: -webkit-linear-gradient(
      top,
      var(--secondary) 2px,
      transparent 2px
    ),
    -webkit-linear-gradient(left, var(--secondary) 2px, transparent 2px);
  background-size: 25px 25px, 40px 40px;
  transform: rotateX(85deg);
}
/* Grid fade */
.grid:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent 40%, var(--secondary) 100%);
}

.retro-text {
  -webkit-text-fill-color: transparent !important;
}

.retro-text::before {
  -webkit-text-stroke: 4px transparent !important;
}

.outlined-button {
  text-shadow: 0 1.75rem 0 var(--primary-dark);
}

.echo-badge-background {
  background: conic-gradient(
      from 180deg at 50% 50%,
      #000000 0deg,
      rgba(255, 255, 255, 0.72) 17deg,
      #000000 88.12deg,
      rgba(255, 255, 255, 0.72) 152deg,
      #000000 225deg,
      rgba(255, 255, 255, 0.72) 289deg,
      #000000 360deg
    ),
    radial-gradient(
      79.8% 80.3% at 10.1% 28.2%,
      #6e7cfb 7.61%,
      #fb42ff 35.1%,
      #fed823 63.5%,
      #3a00d6 100%
    );
  background-blend-mode: screen, normal;
  mix-blend-mode: normal;
}
.orb-generator-background {
  background: radial-gradient(circle at 89.97% 7.98%, #7e75ff, transparent 67%),
    radial-gradient(circle at 48.76% 46.64%, #73ffab, transparent 61%),
    radial-gradient(circle at 8.98% 17.51%, #ffff4a, transparent 58%),
    radial-gradient(circle at 3.97% 89.92%, #ff94fb, transparent 67%),
    radial-gradient(circle at 92.97% 92.02%, #ff722b, transparent 61%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
}

@keyframes moveDown {
  0% {
    background-position: -50px -50px, -1px -1px;
  }
  100% {
    background-position: -1px -1px, -1px -1px;
  }
}

/* Scroll animations */
@keyframes strokeScroll {
  5% {
    text-shadow: 0 -1rem 0 var(--primary);
  }
  7% {
    text-shadow: 0 0rem 0 var(--primary);
  }
  12% {
    text-shadow: 0 2rem 0 var(--primary);
  }
}
@keyframes strokeScrollMobile {
  3% {
    text-shadow: 0 -0.5rem 0 var(--primary);
  }
  10% {
    text-shadow: 0 0.75rem 0 var(--primary);
  }
}
@keyframes strokeScrollTablet {
  7% {
    text-shadow: 0 -1rem 0 var(--primary);
  }
  9% {
    text-shadow: 0 0rem 0 var(--primary);
  }
  16% {
    text-shadow: 0 2rem 0 var(--primary);
  }
}

@keyframes personAnimation {
  /* Animation begins after 1/3 of page is scrolled */
  25% {
    transform: translate(0, 0rem);
  }
  /* Move to SuperOrb */
  30% {
    transform: translate(0, 34.688rem);
  }
  /* Wait until transformation is complete */
  33% {
    transform: translate(0, 34.688rem);
  }
  /* Move before suit */
  35% {
    transform: translate(0, 50.688rem) scale(1);
    opacity: 1;
  }
  /* Move into suit */
  40% {
    transform: translate(0, 73.5rem) scale(0.6);
    opacity: 0.75;
  }
}
@keyframes sphereAnimationLeft {
  25% {
    transform: translate(0, 0rem);
  }
  /* Before SuperOrb */
  30% {
    transform: translate(0, 35.5rem);
    opacity: 1;
  }
  /* Collide into SuperOrb */
  32.5% {
    transform: translate(6.5rem, 35.5rem);
    opacity: 0;
  }
}
@keyframes sphereAnimationRight {
  25% {
    transform: translate(0, 0rem);
  }
  /* Before SuperOrb */
  30% {
    transform: translate(0, 35.5rem);
    opacity: 1;
  }
  /* Collide into SuperOrb */
  32.5% {
    transform: translate(-6.5rem, 35.5rem);
    opacity: 0;
  }
}
@keyframes superOrbTransformation {
  27% {
    transform: translate(0, 5rem);
    opacity: 0;
  }
  32% {
    transform: translate(0, 0rem) rotate(0deg);
    opacity: 100;
  }
  33% {
    transform: translate(0, 0rem) rotate(360deg);
  }
  35% {
    transform: translate(0, -5rem) rotate(360deg);
    opacity: 0;
  }
}
@keyframes walletAndStageAnimation {
  25% {
    transform: translate(0, 0);
    opacity: 1;
  }
  26% {
    transform: translate(0, -1rem);
    opacity: 0;
  }
}
@keyframes generatingHideAnimation {
  32% {
    transform: translate(0, 0);
    opacity: 1;
  }
  33% {
    transform: translate(0, -1rem);
    opacity: 0;
  }
}

/* Mobile scroll animations */
@keyframes personAnimationMobile {
  37% {
    transform: translate(0, 0rem);
  }
  41% {
    transform: translate(0, 28rem);
  }
  44% {
    transform: translate(0, 28rem);
  }
  46% {
    transform: translate(0, 42rem) scale(0.8);
    opacity: 1;
  }
  50% {
    transform: translate(0, 58rem) scale(0.4);
    opacity: 0.75;
  }
}
@keyframes sphereAnimationLeftMobile {
  37% {
    transform: translate(0, 0rem);
  }
  40% {
    transform: translate(0, 32rem);
    opacity: 1;
  }
  42.5% {
    transform: translate(2rem, 32rem);
    opacity: 0;
  }
}
@keyframes sphereAnimationRightMobile {
  37% {
    transform: translate(0, 0rem);
  }
  40% {
    transform: translate(0, 32rem);
    opacity: 1;
  }
  42.5% {
    transform: translate(-2rem, 32rem);
    opacity: 0;
  }
}
@keyframes superOrbTransformationMobile {
  37% {
    transform: translate(0, 5rem);
    opacity: 0;
  }
  43% {
    transform: translate(0, -5rem) rotate(0deg);
    opacity: 100;
  }
  44% {
    transform: translate(0, -5rem) rotate(360deg);
  }
  47% {
    transform: translate(0, -10rem) rotate(360deg);
    opacity: 0;
  }
}
@keyframes walletAndStageAnimationMobile {
  37% {
    transform: translate(0, 0);
    opacity: 1;
  }
  38% {
    transform: translate(0, -1rem);
    opacity: 0;
  }
}
@keyframes generatingHideAnimationMobile {
  42% {
    transform: translate(0, 0);
    opacity: 1;
  }
  43% {
    transform: translate(0, -1rem);
    opacity: 0;
  }
}

/* Tablet scroll animations */
@keyframes personAnimationTablet {
  30% {
    transform: translate(0, 0rem);
  }
  35% {
    transform: translate(0, 28rem);
  }
  36% {
    transform: translate(0, 28rem);
  }
  39% {
    transform: translate(0, 42rem) scale(1);
    opacity: 1;
  }
  41% {
    transform: translate(0, 64rem) scale(0.8);
    opacity: 0.75;
  }
}
@keyframes sphereAnimationLeftTablet {
  30% {
    transform: translate(0, 0rem);
  }
  33% {
    transform: translate(0, 32rem);
    opacity: 1;
  }
  35.5% {
    transform: translate(2rem, 32rem);
    opacity: 0;
  }
}
@keyframes sphereAnimationRightTablet {
  30% {
    transform: translate(0, 0rem);
  }
  33% {
    transform: translate(0, 32rem);
    opacity: 1;
  }
  35.5% {
    transform: translate(-2rem, 32rem);
    opacity: 0;
  }
}
@keyframes superOrbTransformationTablet {
  30% {
    transform: translate(0, 5rem);
    opacity: 0;
  }
  36% {
    transform: translate(0, -5rem) rotate(0deg);
    opacity: 100;
  }
  37% {
    transform: translate(0, -5rem) rotate(360deg);
  }
  40% {
    transform: translate(0, -10rem) rotate(360deg);
    opacity: 0;
  }
}
@keyframes walletAndStageAnimationTablet {
  30% {
    transform: translate(0, 0);
    opacity: 1;
  }
  31% {
    transform: translate(0, -1rem);
    opacity: 0;
  }
}
@keyframes generatingHideAnimationTablet {
  37% {
    transform: translate(0, 0);
    opacity: 1;
  }
  38% {
    transform: translate(0, -1rem);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  html {
    /* Grid */
    background: conic-gradient(
        from 90deg at 0.06rem 0.06rem,
        var(--primary-dark) 90deg,
        var(--primary-background) 0
      )
      0 0/2rem 2rem;
  }
}
@media screen and (min-width: 600px) {
  .grid {
    animation: moveDown 0.5s infinite linear;
  }
}
