@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #bffe8f;
  --accent-hover: #bffe1a;
  --primary: #bff5fa;
  --secondary: #f7a99f;

  --primary-dark: #0d0030;
  --primary-background: #1a0259;

  --selection: #f7a99f35;
  --navbar: rgba(30, 29, 31, 0.3);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  background-color: var(--primary-background);
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrains Mono', monospace;
  color: var(--primary);
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--primary-dark);
}

svg {
  fill: none;
}
path,
circle {
  stroke-linecap: round;
  stroke-linejoin: round;
}

::selection {
  background: var(--selection);
}
::-moz-selection {
  background: var(--selection);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  background-clip: content-box;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-hover);
  border-radius: 20px;
  background-clip: content-box;
  border: 4px solid transparent;
}

.outlined-button {
  text-shadow: 0 1.75rem 0 var(--accent);
}
